In [1]:
#1.Find the error in the following Python code:
import math
print(Math.sqrt(16))

NameError: name 'Math' is not defined

In [7]:
import math
print(math.sqrt(16))

4.0

In [ ]:
#2.Find the error in the following Python code:
def my_function():
    x += 5
    print(x)

x = 10
my_function()

In [8]:

def my_function():
    global x
    x += 5
    print(x)

x = 10
my_function()

15

In [2]:
#3.x = 5
if x = 10:
    print("x is 10")

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (2096591078.py, line 2)

In [3]:
x = 5
if x == 10:
    print("x is 10")

In [4]:
#4.
numbers = [5, 3, 8, 2]
print(numbers.sort())

None

In [9]:
numbers = [5, 3, 8, 2]
numbers.sort()
print(numbers)

[2, 3, 5, 8]

In [5]:
#5.
def square(n):
    n * n

print(square(4))

None

In [10]:
def square(n):
    return n * n

print(square(4))

16

In [ ]:
#6.
my_tuple = (1, 2, 3)
my_tuple[1] = 5

In [ ]:
my_tuple = (1, 5, 3)

In [ ]:
#7.
name = "Alice"
age = 25
print("My name is %s and I am %d years old" % (name))

In [ ]:
print("My name is %s and I am %d years old" % (name, age))

In [ ]:
#8.
a = [1, 2, 3]
b = [1, 2, 3]
if a is b:
    print("Lists are equal")

In [11]:
if a == b:
    print("Lists are equal")

Lists are equal

In [ ]:
#9.
for i in range(5, 1):
    print(i)

In [ ]:
for i in range(5, 1, -1):  # Step should be negative to decrement
    print(i)

In [ ]:
#10.
student = {"name": "John", "age": 20}
print(student[name])

In [ ]:
print(student["name"])