In [ ]:
#1.Find the error in the following Python code:

 for i in range(5)
    print(i)

In [2]:
 for i in range(5):
    print(i)

0
1
2
3
4

In [3]:
#2.What will be the output of this code?

a = 10
b = "5"
print(a + b)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [5]:
# Either convert the variable b to integer from string or convert the variable a to string.

a = 10
b = "5"
print(a+int(b))

15

In [6]:
a = 10
b = "5"
print(str(a)+b)

105

In [9]:
#3.What is the issue in this Python snippet?

 def add_numbers(a, b)
  return a + b

IndentationError: unexpected indent (2406732421.py, line 3)

In [10]:
 def add_numbers(a, b):
  return a + b

In [11]:

#4.Identify the bug in the following Python code:

 numbers = [1, 2, 3, 4]
print(numbers[4])

IndentationError: unexpected indent (2439976823.py, line 3)

In [12]:
numbers = [1, 2, 3, 4]
print(numbers[4])

IndexError: list index out of range

In [ ]:
#we don't have index for 4, so thats the reason its showing as list index out of range

In [13]:
#5.Find the error in the following Python code:
print "Hello, World!"

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (2141204461.py, line 2)

In [ ]:
# Missing parenthesis()

In [14]:
#6.Find the error in the following Python code:
x = 5 / 0

ZeroDivisionError: division by zero

In [ ]:
# We can't divide any number by zero, results in error

In [15]:
#7.Find the error in the following Python code:name = "Alice"
age = 25
print("Name: " + name + ", Age: " + age)

NameError: name 'name' is not defined

In [ ]:
#variable name is updated as comment

In [18]:
#8.Find the error
for i in range(1, 10, -1):
    print(i)

In [ ]:
#A negative step means Python will count backwards, but since 1 is less than 10, the loop has no valid numbers to generate, so it won’t run at all.

#This does not throw a runtime error — it just produces no output.

In [21]:
#9. Find the error in the following Python code:
x = 10
if x = 5:
    print("x is 5")

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (2454184866.py, line 3)

In [23]:
x = 10
if x == 5:
    print("x is 5")

In [24]:
#10. Identify the error in the following function definition:

def greet(name)
    print("Hello, " + name)

SyntaxError: expected ':' (2246763779.py, line 3)

In [25]:
def greet(name):
    print("Hello, " + name)